<html>
  <body>
    <section id="filters">
      <center>
        <h2>Filter buddies</h2>
        <% const species = []; %> <% const cities = []; %> <% const map = new
        Map(); %> <% for (const item of data) { %> <%
        if(!map.has(item.species)){ %> <% map.set(item.species, true); %> <%
        species.push(item.species); %> <% } %> <% if(!map.has(item.location)){
        %> <% map.set(item.location, true); %> <% cities.push(item.location); %>
        <% } %> <% } %>
        <label for="cityFilter">City</label>
        <select name="cityFilter" id="cityFilter">
          <option value="Any">Any</option>
          <% for(var i=0; i < cities.length; i++){ %>
          <option value="<%= cities[i] %>"><%= cities[i] %></option>
          <% } %>
        </select>

        <label for="speciesFilter">Species</label>
        <select name="speciesFilter" id="speciesFilter">
          <option value="Any">Any</option>
          <% for(var i=0; i < species.length; i++){ %>
          <option value="<%= species[i] %>"><%= species[i] %></option>
          <% } %>
        </select>

        <label for="ageFilter">Age</label>
        <input type="number" name="ageFilter" id="ageFilter" min="0" max="99" />

        <label for="genderFilter">Gender</label>
        <select name="genderFilter" id="genderFilter">
          <option value="Any">Any</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

        <label for="vacFilter">Vaccination</label>
        <select name="vacFilter" id="vacFilter">
          <option value="Any">Any</option>
          <option value="Done">Done</option>
          <option value="Not done">Not Done</option>
        </select>

        <button
          type="button"
          class="btn btn-primary"
          id="filterButton"
          style="background-color: #d99d60; border: 2px black"
        >
          Filter
        </button>
      </center>
    </section>
    <div id="mydiv" style="display: none"><%- JSON.stringify(data) %></div>

    <script>
      function filter() {
        var city = document.getElementById("cityFilter").value;
        var species = document.getElementById("speciesFilter").value;
        var age = document.getElementById("ageFilter").value;
        var gender = document.getElementById("genderFilter").value;
        var vac = document.getElementById("vacFilter").value;
        var checkCity = city == "Any" ? false : true;
        var checkSpecies = species == "Any" ? false : true;
        var checkAge = age == "" ? false : true;
        var checkGender = gender == "Any" ? false : true;
        var checkVac = vac == "Any" ? false : true;

        var pets1 = [].slice.call(document.getElementsByClassName("section"));
        var pets2 = [].slice.call(
          document.getElementsByClassName("section left")
        );
        var pets = pets1.concat(pets2);
        var data = JSON.parse(document.getElementById("mydiv").innerHTML);
        for (let i = 0; i < data.length; i++) {
          if (checkAge) {
            if (age == data[i].age) {
              continue;
            } else {
              pets[i].style.display = "none";
            }
          }
          if (checkCity) {
            if (city == data[i].location) {
              continue;
            } else {
              pets[i].style.display = "none";
            }
          }
          if (checkSpecies) {
            if (species == data[i].species) {
              continue;
            } else {
              pets[i].style.display = "none";
            }
          }
          if (checkVac) {
            if (vac == data[i].vaccination) {
              continue;
            } else {
              pets[i].style.display = "none";
            }
          }
          if (checkGender) {
            if (gender == data[i].gender) {
              continue;
            } else {
              pets[i].style.display = "none";
            }
          }
        }
        document.getElementById("filterButton").innerHTML = "Reset";
        document.getElementById("filterButton").onclick = reset;
      }

      function reset() {
        var pets1 = [].slice.call(document.getElementsByClassName("section"));
        var pets2 = [].slice.call(
          document.getElementsByClassName("section left")
        );
        var pets = pets1.concat(pets2);
        for (let i = 0; i < pets.length; i++) {
          pets[i].style.display = "flex";
        }

        document.getElementById("ageFilter").value = "";
        city = document.getElementById("cityFilter").value = "Any";
        species = document.getElementById("speciesFilter").value = "Any";
        vac = document.getElementById("vacFilter").value = "Any";
        document.getElementById("filterButton").innerHTML = "Filter";
        document.getElementById("filterButton").onclick = filter;
      }

      document.getElementById("filterButton").onclick = filter;
    </script>
  </body>
</html>
